<%- include('partials/header') %>
<div class="container mx-auto px-4 py-20 text-center">
  <h1 class="text-6xl font-bold text-[#D32F2F]">404</h1>
  <p class="text-xl mt-4">Oops! This fruit has gone bad (Page not found).</p>
  <a
    href="/"
    class="mt-8 inline-block bg-[#4CAF50] text-white px-6 py-3 rounded-full"
    >Go Home</a
  >
</div>
<%- include('partials/footer') %>
